#data-view-pane {
	display: grid;
	grid-template-areas: "data_view_pane_table data_view_pane_toolbar";
	grid-template-columns: 1fr 50px;
}
#data-view-pane-table {
	grid-area: data_view_pane_table;
	height: calc(100vh - 100px);
	overflow: scroll;
}
#data-view-pane-toolbar {
	grid-area: data_view_pane_toolbar;
	display: grid;
}
#data-view-pane-toolbar button{
	background-color: rgb(225, 225, 225);
}
#data-view-pane-toolbar button:hover {
	background-color: rgb(200, 200, 200);
}