#left-sidebar-grid {
  grid-area: left_sidebar_grid;
  /*width: 100%;
  height: 100%;*/
  /*justify-self: stretch;*/
  border-right: 1px solid;
  /*text-align: center;*/
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  height: calc(100vh - 50px);
  white-space: nowrap;
  overflow: scroll;
  /*background: #eee;*/
}

.dtn-title-div:hover {
  cursor: pointer;
  box-shadow: 2px;
}