#view-pane-grid {
  grid-area: view_pane_grid;
  align-self: stretch;
  justify-self: stretch;
  display: grid;
  grid-template-areas:
    "view_pane_tabs_buttons_grid"
    "view_pane_tabs_panes_grid";
  grid-template-rows: 25px 1fr;
}
#view-pane-tabs-buttons-grid {
  grid-area: view_pane_tabs_buttons_grid;
  align-self: stretch;
  justify-self: stretch;
  display: grid;
  grid-template-areas: "maps_tab_button_grid data_tables_tab_button_grid"; /* context_tab_button_grid"; */
  grid-template-columns: 1fr 1fr; /* 1fr; */
}
#view-pane-tabs-buttons-grid .selected {
  background-color: rgba(0, 200, 200, 0.5);
  /*border-bottom: 1px solid rgba(0, 200, 200, 1);*/
}
.selected .view-pane-tabs-buttons-text {
  font-weight: bold;
  font-family: serif;
  font-size: 1.2em;
}
.not-selected .view-pane-tabs-buttons-text {
  font-size: 1.1em;
}
#view-pane-tabs-buttons-grid .not-selected {
  background-color: rgba(0, 245, 220, 0.25);
}
#context-tab-button-grid {
  grid-area: context_tab_button_grid;
  align-self: stretch;
  justify-self: stretch;
  background-color: rgba(230, 230, 230, 1);
  /*border: 1px solid;*/
  display: grid;
  grid-template-areas: "context_tab_button_text"
}
#context-tab-button-text {
  grid-area: context_tab_button_text;
  align-self: center;
  justify-self: center;
  padding-left: 10px;
}
#context-tab-button-grid:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 1);
}
#maps-tab-button-grid {
  grid-area: maps_tab_button_grid;
  align-self: stretch;
  justify-self: stretch;
  background-color: rgba(250, 230, 230, 0.25);
  border: 0px;/*1px solid rgba(250, 230, 230, 1);*/
  display: grid;
  grid-template-areas: "maps_tab_button_text maps_tab_button_subbutton_new";
  grid-template-columns: 1fr; /*100px;*/
}
#maps-tab-button-text {
  grid-area: maps_tab_button_text;
  align-self: center;
  justify-self: center;
  padding-left: 10px;
}
#maps-tab-button-subbutton-add {
  grid-area: maps_tab_button_subbutton_new;
  align-self: center;
  justify-self: end;
  padding: 0px 5px;
  background-color: rgba(180, 180, 180, 1);
  font-size: 1.1em;
}
#maps-tab-button-subbutton-add:hover {
  cursor: pointer;
  font-family: serif;
  font-size: 1.1em;
  font-weight: bolder;
  background-color: rgba(250, 250, 250, 1);/*rgba(160, 160, 160, 1);*/
}
#maps-tab-button-grid:hover {
  cursor: pointer;
  background-color: rgba(0, 200, 200, 0.25);
}
#data-tab-button-grid {
  grid-area: data_tables_tab_button_grid;
  align-self: stretch;
  justify-self: stretch;
  background-color: rgba(230, 230, 230, 0.25);
  border: 0px; /*border: 1px solid;*/
  display: grid;
  grid-template-areas: "data_tables_tab_button_text"
}
#data-tab-button-text {
  grid-area: data_tables_tab_button_text;
  align-self: center;
  justify-self: center;
  padding-left: 10px;
}
#data-tab-button-grid:hover {
  cursor: pointer;
  background-color: rgba(0, 220, 220, 0.5);
}
#view-pane-tabs-panes-grid {
  grid-area: view_pane_tabs_panes_grid;
  align-self: stretch;
  justify-self: stretch;
}
