.selectlabel {
	width: 180px;
	padding: 2%;
}

.selectlabel-lg {
	width: 300px;
	padding: 2%;
}

.box {
	width: 40%;
	height: 20%;
	position: absolute;
	top: 1%;
	right: 1%;
	opacity: 1;
	/* for demo purpose  */
}

.stack-top {
	z-index: 9;
	/* margin: 20px; */
	/* right: 1%; */
	/* for demo purpose  */
}

.chart {
	height: 300px;
}

.circle {
	margin: 1px 1px 15px;
	width: 100%;
    height: 20px;
    border-radius: 6px;
    font-size: 11px;
    color: #f8f9fa;
    line-height: 20px;
    text-align: start;
    background: #007bff9e;
}
.card-title {
    float: left;
    font-size: 0.9rem !important;
    font-weight: 400 !important;
    margin: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem !important; 
}