.selectlabel{
	width: 180px;
	padding: 2%;
}
.selectlabel-lg{
	width: 300px;
	padding: 2%;
}
.box {
	width: 40%;
	height: 20%;
	position: absolute;
	top: 1%;
	right: 1%;
	opacity: 1;
	/* for demo purpose  */
}

.stack-top {
	z-index: 9;
	/* margin: 20px; */
	/* right: 1%; */
	/* for demo purpose  */
}