.dataTables_wrapper {
    font-family: tahoma;
    font-size: 10px;
    /* direction: rtl;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1; */
}
table, th {
    font-size: 12px;
}
.custom-control-label{
	font-size: 80% !important;
	font-weight: normal !important;
}