.layers-lists-div {
	min-width: 300px;
	max-width: 300px;
}
.layers-lists-div input[type="checkbox"]{
	margin: 5px;
}

.map-layers-item-expanded {
	background: #eee;
}
.map-layers-item-collapsed {
	cursor: pointer;
}
.map-layers-item-expanded .title {
	font-weight: bold;
	background: #ddd;
	cursor: pointer;
}

.map-layers-item-expanded hr {
	border-top: 1px solid;
	border-bottom: 0px;
}