.ol-control.title-control, .ol-control.title-control:hover {
  top: 10px;
  right: 10px;
  height: 60px;
  width: 300px;
  background: rgba(100,100,100,0.5);
  font-size: 1.25em;
  font-family: serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
.ol-control.title-control > .title-filter {
  overflow-y: scroll;
}
.ol-control.layers-control {
  top: 100px;
  right: 10px;
  height: 40px;
  width: 40px;
  background: rgba(0,60,136,0.5); /*used openlayer's zoom-control button*/
  font-size: 1.7em;
  font-family: serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
.ol-control.pan-control {
  top: 100px;
  left: 10px;
  height: 40px;
  width: 40px;
  background: rgba(0,60,136,0.5); /*used openlayer's zoom-control button*/
  font-size: 1.7em;
  font-family: serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
.ol-control.legend-button-control {
  bottom: 35px;
  right: 175px;
  height: 30px;
  width: 25px;
  background: rgba(0,60,136,0.5); /*used openlayer's zoom-control button*/
  font-size: 1em;
  font-family: serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
/*.ol-control.legend-control, .ol-control.legend-control:hover {
  bottom: 25px;
  right: 10px;
  height: 200px;
  width: 150px;
  background: rgba(100,100,100,0.5);
  font-size: 1.5em;
  font-family: serif;
  font-weight: bold;
  color: white;
  text-align: center;
}*/
.ol-control.legend-control {
  bottom: 35px;
  right: 10px;
  height: 30px;
  width: 160px;
  background: rgba(0,60,136,0.5);
  font-size: 1.5em;
  font-family: serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
.ol-control.pan-control:hover, .ol-control.layers-control:hover, .ol-control.legend-button-control:hover,.ol-control.legend-control:hover {
  cursor: pointer;
  background: rgba(0,60,136,0.8);
}


/*popup taken from ol examples*/
#map-popup {
  position: absolute;
  background-color: white;
  /*-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));*/
  /*filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));*/
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  max-width: 400px;
}
#map-popup:after, #map-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#map-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
#map-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#map-popup-closer {
  background: rgba(200, 200, 200, 0.95);
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 1;
}
#map-popup-closer:hover {
  background: rgb(200, 200, 200);
}

.Collapsible {
  background-color: white; }

.Collapsible__contentInner {
  /* padding: 10px; */
  /* border: 1px solid #ebebeb; */
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #00ac9d;
  color: white; }
  .Collapsible__trigger:after {
    content: 'v';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; }