#title{
	grid-area: title;
    font-family: system-ui;
    font-weight: bold;
    color: rgba(255, 255, 255);
    text-shadow: 0 0 3px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
.nav-item
{
    color: white !important;
}
.nav-item a
{
    color: white !important;
}