.box {
	width: 15%;
	height: 30%;
	position: absolute;
	top: 5%;
	right: 1%;
	opacity: 1;
	/* for demo purpose  */
}

.stack-top {
	z-index: 9;
	/* margin: 20px; */
	/* right: 1%; */
	/* for demo purpose  */
}

.borber {
	padding-left: 2%;
	color: white;
	background-color: teal;
}

#legend table, th {
	padding-left: 2%;
	border: 1px solid black;
}

#legend table, tr, td {
	padding-left: 2%;
	font-weight: 500;
}

#legend table {
	padding-left: 2%;
	width: 100%;
	border-collapse: collapse;
	background-color: #e6f2ff;
	border-radius: 2px;
}